.btn-mid {
    padding: 8px 30px;
    border-radius: 21px;
}

.btn-grey {
    color: #000 !important;
}

.btn-orange {
    font-weight: 400;
    font-size: 17px;
    color: #fff !important;
    background-color: $theme;
    border-color: $theme;
    padding: 12px 30px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

    &:hover {
        background-color: darken($theme, 10%);
        color: #fff;
    }
}

.btn-big {
    font-weight: 400;
    font-size: 17px;
    padding: 12px 30px;
}


a.btn-empty {
    color: #fff !important;
    border-color: #fff !important;
    border: 1px solid;
    padding: 8px 20px;
}