$primary: #007bfc;
$vue: #42b682;
$theme: #ff360e;
$blue: #1a75bb;

$background: #f1f4f6;
$bg-gray: #e9ecef;

// fonts

$heading: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";