.slick-dots li button::before {
    font-size: 9px;
    width: 30px;
    height: 30px;
    opacity: 0.75;
    color: white;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #555;
}