.product__star-rating {
    position: relative;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    padding: 0 6px;
    color: #888888;
    font-size: 13px;
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      left: -4px;
      top: 6px;
      border-left: 1px solid #b2b2b2;
      border-bottom: 1px solid #b2b2b2;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      background: #fff;
    }
  }